.pageDescription {
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;
    margin-bottom: 32px;

    &_center {
        text-align: center;
    }

    &_left {
        text-align: left;
    }

    &_right {
        text-align: right;
    }

    b {
        font-weight: 700;
    }
}