.max {
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: var(--white);
    padding: 12px;
    border: 2px solid var(--white);
    max-width: 530px;
    border-radius: 100px;
    margin-left: auto;
    margin-bottom: 42px;
}