.wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;    
    flex-direction: column;
    h1 {
        text-align: center;
        font-size: 64px;
        margin-bottom: 48px;
    }
}

.btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
}